body {
    background: #CCCCCC;
    }
    
    h1 {
    text-align: center;
    }
    
    p {
    text-align: center;
    }

    #missao {
        color: rgb(199, 21, 51);
        font-size: 18px;
    }